MODE=DEV

# DB settings:
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=1234
DB_NAME=example

# Email settings
EMAIL_NAME=example
EMAIL_PASS=example
MIN_CODE=10000
MAX_CODE=99999
ADMIN_EMAIL=secret

# ORLs and other settings
SECRET_KEY=secret
VPS_IP=0.0.0.0
FRONTEND_REDIRECT_URL=url
FRONTEND_HOST=http://localhost:3000
BACKEND_HOST=http://localhost:8000
BACKEND_DOMAIN=api-gpt.energy-cerber.ru
CLIENT_PROTOCOL=https

# Google OAuth2
GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret

# Yandex OAuth2
YANDEX_CLIENT_ID=secret
YANDEX_CLIENT_SECRET=secret

# GitHub OAuth2
GITHUB_CLIENT_ID=secret
GITHUB_CLIENT_SECRET=secret

# Yookassa client secrets
YOOKASSA_CLIENT_ID=secret
YOOKASSA_CLIENT_SECRET=secret
