MODE=DEV

# PostgreSQL settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=1234
DB_NAME=example

# MongoDB settings
MONGODB_NAME=example
MONGODB_USER=user
MONGODB_PASS=1234
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_LOCAL_URL=mongodb://localhost:27017/

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=secret

# Flower settings
FLOWER_USER=admin
FLOWER_PASSWORD=secret

# Email settings
EMAIL_NAME=example
EMAIL_PASS=example
MIN_CODE=10000
MAX_CODE=99999
SMPT_HOST=smtp.gmail.com
SMPT_PORT=587
ADMIN_EMAIL=secret

# ORLs and other settings
SECRET_KEY=secret
VPS_IP=0.0.0.0
FRONTEND_REDIRECT_URL=url
FRONTEND_HOST=http://localhost:3000
BACKEND_HOST=http://localhost:8000
BACKEND_DOMAIN=localhost
CLIENT_PROTOCOL=http

# Google OAuth2
GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret

# Yandex OAuth2
YANDEX_CLIENT_ID=secret
YANDEX_CLIENT_SECRET=secret

# GitHub OAuth2
GITHUB_CLIENT_ID=secret
GITHUB_CLIENT_SECRET=secret

# Yookassa client secrets
YOOKASSA_CLIENT_ID=secret
YOOKASSA_CLIENT_SECRET=secret
